    .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    top: -180px;
    margin: 70px auto;
    padding: 18px;
    background: #18172b;
    border-radius: 10px;
    position: absolute;
    margin-left: 40%;
    transition: transform 400ms ease;
    animation: drop 1.5s ease forwards;
  }

  .popup .close {
    position: absolute;
    top: 18px;
    right: 30px;
    transition: all 180ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 1024px){
    .box{
      margin-left: 30%;
      margin-right: 30%;
    }
    .popup{
      margin-left: 30%;
      margin-right: 30%;
    }
  }

  @media screen and (max-width: 768px){
    .box{
      margin-left: 28%;
      margin-right: 28%;
    }
    .popup{
      margin-left: 28%;
      margin-right: 28%;
    }
  }

  @media screen and (max-width: 425px){
    .box{
      margin-left: 18%;
      margin-right: 18%;
    }
    .popup{
      margin-left: 18%;
      margin-right: 18%;
    }
  }

@keyframes drop 
{
    0% {opacity: 0;}
    75% { transform: translateY(350px)}
    100% {display: block;transform: translateY(250px); opacity: 1}
}

