::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

	body {
		background-color: #fff;
		margin: 30px;
		font: 13px/20px normal Helvetica, Arial, sans-serif;
		color: #4F5155;
	}

	a {
		color: #003399;
		background-color: transparent;
		font-weight: normal;
	}


	.heading {
		display: grid;
		grid-template-columns: 85% 15%;
		background-color: transparent;
		border-bottom: 1px solid #D0D0D0;
		margin: 0 0 14px 0;
		padding: 14px 15px 10px 15px;
	}

	.left-pages {
		display: grid;
		justify-items: left;
    	align-items: center;
	}
	a.home {
		box-sizing: content-box;
		color: #888;
		font-size: 1.2rem;
		font-weight: 600;
		text-decoration: none;
	}
	a.home:hover {
		color: #444;
	}

	.right-pages {
		display: relative;
	}
	
	.right-pages a {
		box-sizing: content-box;
		padding-left: 0.6vmax;
		font-size: 18px;
		color: #666;
	}
	.right-pages a:hover {
		color: #8e6fe2;
	}
	#body {
		margin: 0 0.8em 0 0.8em;
	}

	.footer {
		display: grid;
		grid-template-columns: 25% 75%;
		font-size: 12px;
		border-top: 1px solid #D0D0D0;
		line-height: 32px;
		padding: 0 10px 0 10px;
		margin: 20px 0 0 0;
	}
	p.left {
		text-align: left;
	}
	p.right {
		text-align: right;
	}

	#container {
		margin: 10px;
		border: 1px solid #D0D0D0;
		box-shadow: 0 0 8px #D0D0D0;
	}
	a.dialog {
		margin-left: 3vw; font-size:1.7rem;
	  }
