table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: center;
    padding: 8px;
    font-size: 16px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #303245;
    color: white;
  }
.remove {
    color: #bdbdbd;
    font-size: 20px;
}
.remove:hover {
    color: #ff5858;
    transition: all 0.5s ease-out;
  }

#add 
{
    color: #bdbdbd;
    font-size: 45px;
}
#add:hover {
    color: #888888;
    font-size: 45px;
}

.move 
{
  color: #bdbdbd;
  font-size: 20px;

}
.move:hover 
{
  color: #08884c;
  transition: all 0.5s ease-out;
}